<!DOCTYPE html>
<html>
<head>
  <title>Spotbiddr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>
  <%= render 'layouts/navbar' %>

  <h1> Spot Biddr </h1>

  

  <div class="navbar navbar-fixed-bottom">
    <h3>Christian Borys </h3>
  </div>
<%= yield %>

</body>
</html>
